In [19]:
################################################################################################
# name: testes
# desc: 
# date: 2020-06-11
# Author: johnatan
################################################################################################

In [16]:

from scipy.interpolate import interp1d
import numpy as np

import shlex
import subprocess as sp

import prettyplotlib as ppl
from matplotlib import pyplot as plt
from matplotlib.ticker import FuncFormatter
import io
from pandas import read_csv
import os

os.chdir("/home/johnatan/Downloads/projects/alluxio/")


cmd = "git log --no-merges --date=short --pretty='format:%ad\t%H\t%aN'"
p = sp.Popen(shlex.split(cmd), stdout=sp.PIPE)
# p.wait() will likely just hang if the log is long enough because the
# stdout buffer will fill up
stdout, _ = p.communicate()

table = read_csv(io.StringIO(stdout.decode('utf-8')), sep='\t',names=['date', 'hash', 'author'], index_col=0,
                 parse_dates=True)
table

                                                hash        author
date
2018-10-13  9cfb4b4942d1b1aeb0ffa9567ad5368dd4fe924a       Destiny
2018-10-13  2e9fca534ae57870e3f32409934e7bbab7d40621   yawenouyang
2018-10-13  78f4402eb28acd59971f6d5c4926f48ea15a6d7e     tyt951021
2018-10-13  98cc2e1a48bb933a35776e9593154f03c6df3c08  zly245726114
2018-10-13  28ed3026e0a1feac996add3c052c21fb5d917865    1429904852
...                                              ...           ...
2012-12-22  d76b1d7e6d1d94a6b94985c18873c092429fef87       haoyuan
2012-12-22  e26c7afe983131ed4560a7db4cbb9cec3bbe638a       haoyuan
2012-12-22  161836f07e06f48749bb0c1563af81307cc4f8dd       haoyuan
2012-12-22  58a06031993599b063c0733e684b81ca9504c7b7       haoyuan
2012-12-21  c1ad7ba0ea332e9792575dbae4fabc5524bdcfa0    Haoyuan Li

[21713 rows x 2 columns]

In [20]:

from scipy.interpolate import interp1d
import numpy as np

import shlex
import subprocess as sp

import prettyplotlib as ppl
from matplotlib import pyplot as plt
from matplotlib.ticker import FuncFormatter
import io
from pandas import read_csv
import os

os.chdir("/home/johnatan/Downloads/projects/alluxio/")

cmd = 'git log --no-merges --no-renames --numstat --pretty=format:"%x09%x09%x09%aN"'
p = sp.Popen(shlex.split(cmd), stdout=sp.PIPE)

stdout, _ = p.communicate()

table = read_csv(io.StringIO(stdout.decode('utf-8')), sep="\x09", header=None,names=['additions', 'deletions', 'path','author'])

# convert to DataFrame
commit_data = table[['additions', 'deletions', 'path']].join(table[['author']].fillna(method='ffill')).dropna()
commit_data.head()

,additions,deletions,path,author
1,1,6,core/server/master/src/main/java/alluxio/maste...,Destiny
3,1,1,docs/cn/Running-Alluxio-On-Docker.md,yawenouyang
5,43,14,docs/cn/Running-Alluxio-on-EC2.md,tyt951021
7,1,7,core/server/worker/src/main/java/alluxio/worke...,zly245726114
9,1,6,core/server/worker/src/main/java/alluxio/worke...,1429904852

In [22]:
import git 

GIT_REPO_PATH = r'../../projects/alluxio/'
repo = git.Repo(GIT_REPO_PATH)
git_bin = repo.git
git_bin

In [25]:
cmd = 'git log --numstat --pretty=format:"\t\t\t%h\t%at\t%aN"'
cmd = sp.Popen(shlex.split(cmd), stdout=sp.PIPE)

stdout, _ = cmd.communicate()

stdout[:80]

b'\t\t\t9cfb4b4942\t1539369723\tDestiny\n1\t6\tcore/server/master/src/main/java/alluxio/ma'

In [27]:
import pandas as pd
from io import StringIO


commits_raw = pd.read_csv(io.StringIO(stdout.decode('utf-8')),sep="\t",header=None,              
    names=['additions', 'deletions', 'filename', 'sha', 'timestamp', 'author'])
commits_raw.head()

,additions,deletions,filename,sha,timestamp,author
0,NaN,NaN,NaN,9cfb4b4942,1.539370e+09,Destiny
1,1,6,core/server/master/src/main/java/alluxio/maste...,NaN,NaN,NaN
2,NaN,NaN,NaN,2e9fca534a,1.539367e+09,yawenouyang
3,1,1,docs/cn/Running-Alluxio-On-Docker.md,NaN,NaN,NaN
4,NaN,NaN,NaN,78f4402eb2,1.539367e+09,tyt951021

In [28]:
commits = commits_raw[['additions', 'deletions', 'filename']]\
            .join(commits_raw[['sha', 'timestamp', 'author']].fillna(method='ffill'))
commits.head()

,additions,deletions,filename,sha,timestamp,author
0,NaN,NaN,NaN,9cfb4b4942,1.539370e+09,Destiny
1,1,6,core/server/master/src/main/java/alluxio/maste...,9cfb4b4942,1.539370e+09,Destiny
2,NaN,NaN,NaN,2e9fca534a,1.539367e+09,yawenouyang
3,1,1,docs/cn/Running-Alluxio-On-Docker.md,2e9fca534a,1.539367e+09,yawenouyang
4,NaN,NaN,NaN,78f4402eb2,1.539367e+09,tyt951021

In [29]:
commits = commits.dropna()
commits.head()

,additions,deletions,filename,sha,timestamp,author
1,1,6,core/server/master/src/main/java/alluxio/maste...,9cfb4b4942,1.539370e+09,Destiny
3,1,1,docs/cn/Running-Alluxio-On-Docker.md,2e9fca534a,1.539367e+09,yawenouyang
5,43,14,docs/cn/Running-Alluxio-on-EC2.md,78f4402eb2,1.539367e+09,tyt951021
7,1,7,core/server/worker/src/main/java/alluxio/worke...,98cc2e1a48,1.539367e+09,zly245726114
9,1,6,core/server/worker/src/main/java/alluxio/worke...,28ed3026e0,1.539367e+09,1429904852